*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  html, body {
height: 100%;
margin: 0;
}

.container-fluid {
padding: 0;
}

.row {
min-height: 100vh;
display: flex;
background-color: white;
}

.sidebar {
background: linear-gradient(to bottom, #00AEEF, #7851A9);
color: white;
padding: 20px;
}
.sidebar {
  width: 16.6666%;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #38bdf8, #6366f1); 
  border-radius: 0.5rem; 
}

  .sidebar h3 {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  .text-center{
    display: flex;
    margin-left: 20px;
  }
  .text-center h3 {
    margin-left: 7px;
    font-weight: bold;
  }
hr.bg-white {
border: none;
border-top: 2px solid white;
opacity: 1;
}


  .content {
    padding: 30px;
  }

  .student-card {
      background-color: #f5faff; /* xanh rất nhạt */
      border-left: 4px solid #2196f3;
      border-radius: 8px;
      padding: 12px;
      box-shadow: 0 1px 4px rgba(33, 150, 243, 0.1);
  }
  .student-card:hover {
      background-color: white;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
      transform: translateY(-2px); 
      cursor: pointer;
}
  .student-card .actions {
    text-align: right;
  }
  .btn-delete {
    color: red;
    cursor: pointer;
    font-size: 14px;
  }
  .btn-edit {
    color: #333;
    cursor: pointer;
    margin-left: 15px;
    font-size: 14px;
  }
  .header-icon {
    float: right;
  }
  .custom-divider {
border: none;
border-top: 2px solid rgb(134, 132, 132);
/* opacity: 1; */
margin-top:5px;
margin-bottom:5px;
}
.input-add {
display: flex;
align-items: center;
}

.input-add input {
flex: 1;
max-width: 400px;
}
.input-add button{
  background-color: #ff9800;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.input-add button:hover {
  background-color: #fb8c00;
}
.student-name{
  margin-bottom: 4px;
  font-weight: bold;
}

.student-info-row {
display: flex;
gap: 10px;
margin-bottom: 4px;
}

.label {
width: 100px; 
color: #6c757d;
font-size: 14px;
}

.value {
font-weight: bold;
color: #212529;
font-size: 14px;
}
.student-titlte{
color:#344767;
font-weight: bold;
}