body {
  background-color: #f4f8fb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.card-table {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.1);
  background-color: #ffffff;
  border: none !important; /* Loại bỏ khung */
}

.card-title {
  color: #0d6efd;
}

.main-title {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px !important;
  color: #344767 ;
}

.table {
  border-collapse: separate;
  border-spacing: 0 8px; /* tạo khoảng cách giữa các dòng */
}

.table thead {
  background-color: #e3f0ff;
  border: none;
}

.table th {
  border: none !important;
}

.table td {
  background-color: #ffffff;
  border: none !important;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

table tbody tr:hover td {
  background-color: #f0f8ff;
  transition: background-color 0.3s ease;
}

.btn-view {
  background-color: #0d6efd;
  color: white;
  border: none;
  transition: 0.3s;
}

.btn-view:hover {
  background-color: #0b5ed7;
}

.btn-delete {
  background-color: #ff4d4f;
  color: white;
  border: none;
  transition: 0.3s;
}

.btn-delete:hover {
  background-color: #e03131;
}

.pagination .page-item.active .page-link {
  background-color: #53a749; 
  border-color: #8dd694;
  color: #1b3c1a;
  font-weight: bold;
}

.pagination .page-link {
  color: #3b6e3b; 
  background-color: #e6f9e5;
  border: 1px solid #bfe6bf;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.pagination .page-link:hover {
  background-color: #c6f1c6;
  color: #285c28;
}

.pagination .page-item.disabled .page-link {
  color: #a6c8a6;
  background-color: #f2fcf2;
  border: 1px solid #dfeede;
}

.bigbox{
  border-top:0px; 
}
.fullname, .content{
  text-align: left !important;
}